@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style boxs */
.title {
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0);
}

li {
  list-style: none;
  background-color: rgba(0, 0, 0);
  text-align: center;
  padding: 10px;
  margin: 0px 0px 10px;
  color: white;
  border-radius: 10%;
}

ul {
  padding: 10px;
}

.boxs {
  margin: 50px 25px;
  display: flex;
  justify-content: space-between;
}

.backlog {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  min-height: 60px;
}

.progress {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  min-height: 60px;

}

.complete {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  min-height: 60px;

}

.on-hold {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  min-height: 60px;

}

#first-backlog-item {
  background-color: orange;
}

#first-progress-item {
  background-color: blue;
}

#first-complete-item {
  background-color: green;
}

#first-on-hold-item {
  background-color: red;
}

.btn-add-item {
  padding: 10px;
  margin: 0px 0px 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
}

.btn-add-item,
.btn-store-item {
  padding: 10px;
  margin: 0 0 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
}

.btn-add-item:hover,
.btn-store-item:hover {
  background-color: black;
  border-radius: 5px;
}

.btn-add-item:active,
.btn-store-item:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-store-item {
  display: none;
}

/* form style */
textarea {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.new-item {
  height: 100px;
  border-radius: 5px;
  margin: 5px;
  display: none;
}